.Sidebar {
    width: var(--sidebar-width);
    // height: calc(100vh - var(--navbar-heigth));
    height: 100vh;
    padding: 20px;
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    //  border-radius: 30px;
    //  box-shadow: 10px 10px 50px var(--inverted-bg-color);
    transition: 300ms width ease-out;
    position: relative;
}

.Sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
}

.items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-grow: 1;
}

.icon {
    transition: 200ms;
    fill: var(--inverted-primary-color);
}

.collapsed {
    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .items {
        align-items: center;
    }
}
