.app_natalingor_theme {
    --bg-color: #e5d1b8;
    --inverted-bg-color: #c2956e;

    // текст
    --primary-color: #483e30;
    --inverted-primary-color: #2b2129;

    // вторичный цвет
    --secondary-color: #708a81;
    --inverted-secondary-color: #dc855a;

    // skeleton
    --skeleton-shadow: #7a6c55;
    --skeleton-color: #c2956e;

    // card
    --card-bg: #c9b399;
}
